.hidden,
[hidden] {
  display: none !important;
  animation: fade-out 0.7s ease-out forwards;
}
.scene {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainMenu {
  background-image: url("./assets/Schloss_OG.png");
}
.mainMenu > .container {
  justify-content: center;
  display:  flex;
  align-items: center;
  height: 100%;
  padding: 15%;
}
.intro > .container {
  background-color: black;
}
.intro > .navDiv {
  position: sticky;
  z-index: 2;
  justify-content: end;
  display: flex;
  padding-right: 5px;
}
